<link rel="stylesheet" href="../css/tokimon.css" />

<ul id=navbar>
  <li id=navbox><a id=navlink href="/">Information</a></li>
  <li id=navbox><a id=navlink href="/add">Add</a></li>
  <li id=navbox><a id=navlink href="/display">Display</a></li>
</ul>
