div {
  margin: 10px 10px;
}

div.container {
  display: inline-block;
  vertical-align:top;
}

div.picture {
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  vertical-align:top;
}

input[name="change"] {
  display: inline;
  color: white;
  background-color: #DC143C;
  text-align: center;
  padding: 5px 10px;
}

input[name="change"]:hover {
  background-color: #8B0000;
}

input[type="submit"] {
  color: white;
  background-color: #DC143C;
  text-align: center;
  padding: 5px 10px;
}

input[type="submit"]:hover {
  background-color: #8B0000;
}

form[name="delete"] {
  display: inline;
}

#navbar {
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  overflow: hidden;
  background-color: #DC143C;
}

#navbox {
  margin:0;
  float: left;
}

#navlink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navlink:hover {
  background-color: #8B0000;
}
