<!DOCTYPE html>
<html>
<% include ../partials/nav.ejs %>
<head>
  <title>
    Add
  </title>
</head>

<body>

<div class="container">
<h2>Add a Tokimon</h2>

<form name="add" action="/add" method="post">
  <div>
    Tokimon Name: <input type="text" name="tokiName" required >
  </div>
  <div>
    Weight: <input type="number" min = 0 name = "weight" step = any required />
    Height: <input type="number" min = 0 name = "height" step= any required />
  </div>
  <div>
    Fly: <input type="number" min = 0 max = 100 name = "fly" step = 1 required />
    Fight: <input type="number" min = 0 max = 100 name = "fight" step = 1 required />
    Fire: <input type="number" min = 0 max = 100 name = "fire" step = 1 required />
    Water: <input type="number" min = 0 max = 100 name = "water" step = 1 required />
    Electric: <input type="number" min = 0 max = 100 name = "electric" step = 1 required />
    Ice: <input type="number" min = 0 max = 100 name = "ice" step = 1 required />
  </div>
  <div>
    Trainer: <input type="text" name="trainer" required >
  </div>
    <input type="submit" value="Add">
</form>

</div>

</body>
</html>
