<!DOCTYPE html>
<html>
<% include ../partials/nav.ejs %>
<head>
  <title>
    Add
  </title>
</head>

<body>
<img src="rabbit.png" alt="Bug?" width="128px" height="128px" >
<div class="container">
<h2>Add a Tokimon</h2>

<form name="add" action="/add" method="post">
  <div>
    <b>Tokimon Name:</b> <input type="text" name="tokiName" required >
  </div>
  <div>
    <b>Weight:</b> <input type="number" min = 0 name = "weight" step = any required />
    <b>Height:</b> <input type="number" min = 0 name = "height" step= any required />
  </div>
  <div>
    <b>Fly:</b> <input type="number" min = 0 max = 100 name = "fly" step = 1 required />
    <b>Fight:</b> <input type="number" min = 0 max = 100 name = "fight" step = 1 required />
    <b>Fire:</b> <input type="number" min = 0 max = 100 name = "fire" step = 1 required />
    <b>Water:</b> <input type="number" min = 0 max = 100 name = "water" step = 1 required />
    <b>Electric:</b> <input type="number" min = 0 max = 100 name = "electric" step = 1 required />
    <b>Ice:</b> <input type="number" min = 0 max = 100 name = "ice" step = 1 required />
  </div>
  <div>
    <b>Trainer:</b> <input type="text" name="trainer" required >
  </div>
    <input type="submit" value="Add">
</form>

</div>

</body>
</html>
