<!DOCTYPE html>
<html>
<% include ../partials/nav.ejs %>
<head>
</head>

<body>
  
<div class="container">
  <h2>Tokimon Information</h2>

  <ul>
      <% tokimon.forEach(function(r) { %>
          <li> <a href="/tokimon/<%= r.id %>"><%= r.name %></a></li>
      <% }); %>
  </ul>

</div>

</body>
</html>
