<!DOCTYPE html>
<html>
<head>
  <title>
    <%= rows.name %>
  </title>
</head>

<body>

<div class="container">
<h2><%= rows.name %></h2>

<form name="delete" action="/delete/<%= rows.id %>" method="post">
  <input type="submit" value="Delete">
</form>

</div>

</body>
</html>
